<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container" style="text-align: center;">
    <p id="title"><span class="gradient">Synesthes.io</span></p>
  </div>
</nav>
